#dropdown-menu {
  background-color: white;
}
#dropdown-menu #primary-menu > li {
  margin-bottom: 20px;
}
#dropdown-menu #primary-menu > li > a {
  font-weight: 500;
  margin-bottom: 12px;
  display: block;
}
#dropdown-menu .sub-menu {
  margin-bottom: 24px;
}
#dropdown-menu .sub-menu li {
  margin-bottom: 8px;
}
#dropdown-menu .sub-menu li a {
  font-weight: 300;
}

#footer-menu-container #footer-menu > li {
  margin-bottom: 20px;
}
#footer-menu-container #footer-menu > li > a {
  font-weight: 500;
  margin-bottom: 12px;
  display: block;
}
#footer-menu-container .sub-menu {
  margin-bottom: 24px;
}
#footer-menu-container .sub-menu li {
  margin-bottom: 8px;
}
#footer-menu-container .sub-menu li a {
  font-weight: 300;
}

#content-products-loop-start::after, #content-products-loop-start::before {
  content: none;
}

.woocommerce-breadcrumb {
  display: none;
}

#single-product-detail {
  display: flex;
  flex-direction: column-reverse;
}

#single-product-detail > del > span > bdi {
  font-weight: 300;
  font-size: 24px;
  color: #cbd5e1;
  text-decoration-color: #cbd5e1;
}

#single-product-detail > ins {
  text-decoration: none;
}
#single-product-detail > ins > span > bdi {
  font-weight: 600;
  font-size: 28px;
  text-decoration: none;
}

#product-options > select {
  border: 1px solid #cbd5e1;
  width: 100%;
  padding: 16px;
  height: fit-content;
}

#simple-quantity-area > .quantity > .input-text,
#var-quantity-area > .quantity > .input-text {
  width: 100%;
  border: 1px solid #cbd5e1;
  text-align: left;
  padding: 16px;
  margin-bottom: 8px;
}

.page-content > *,
.entry-content > * {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.course-meta .sensei-message {
  display: none;
}
.course-meta > .single_add_to_cart_button {
  background-color: #3b82f6;
}

#content > div > div.relative.pb-10.mb-12.border-b.border-b-line.md\:flex.md\:gap-10 > div.max-w-\[508px\] > section > form > button {
  background-color: #3b82f6;
  padding: 16px;
  width: 100%;
}

#login-form .lost_password {
  margin: auto;
}
#login-form .lost_password a {
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: block;
}

.woocommerce-privacy-policy-text > * {
  font-size: 14px;
}

#custom-my-cart > table {
  border: none;
}

.prose :where(tbody tr):not(:where([class~=not-prose] *)) {
  border-bottom-width: 0;
}

#post-29 > div > div > div > div.cart-collaterals > div > table {
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}

#post-29 > div > div > div > div.cart-collaterals > div > div > a {
  background-color: black;
  border-radius: 0;
}

.post-navigation .nav-links {
  display: flex;
  height: fit-content;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  #primary-menu > li {
    margin-bottom: 20px;
    flex-grow: 1;
  }
  .sub-menu li:hover {
    text-decoration: underline;
  }
}
